RSBarcodesSample/RSBarcodesSample.xcodeproj/project.xcworkspace/xcuserdata/*
RSBarcodesSample/RSBarcodesSample.xcodeproj/xcuserdata/*

RSBarcodes.xcodeproj/xcuserdata/*
RSBarcodes.xcodeproj/project.xcworkspace/xcuserdata/*
Build/*
.DS_Store
